<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/png" href="/img/logo.ico"/>
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <title>Error</title>
</head>

<body>
    <div class="login-page">
        <div class="login-page-title"> ERROR PAGE </div>

        <div class="login-page-form">
            LỖI - TRANG KHÔNG TỒN TẠI <br/><br/>
            Nếu phát hiện đây là lỗi chức năng, hãy báo ngay với quản lý CLB.<br/>
            <a href="/">[Về trang chủ]</a>
        </div>
        <div class="coppyright">
            © 2019 CEE-IUH
        </div>
    </div>
</body>

</html>